{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block css %}
    <style>
        .icon-container{
        display: flex;
        justify-content: end;
        
        }
        .fa-arrow-rotate-left{
            font-size: 1em;
        }
        .custom-link{
            font-size: 24px;
            background-color: white;
            margin-right: 50px;
            text-decoration: none;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container">
       
        <h2 class='text-dark fw-semibold fs-1'>{{ cours.titre }}</h2>
        <p>{{ cours.contenu }}</p>
        {% if cours.fichier %}
            <p><a href="{{ cours.fichier.url }}">Télécharger le document</a></p>
        {% endif %}
    
        <h3 class='text-dark fw-semibold fs-2'>Commentaires</h3>
        <ul>
            {% for commentaire in commentaires %}
                <li>{{ commentaire.auteur }} : {{ commentaire.texte }}  {{ commentaire.date_pub }}  ({{ commentaire.heure_pub }})</li>
            {% endfor %}
        </ul>

        <h3 class='text-dark fw-semibold fs-2'>Ajouter un commentaire</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
                <button type="submit" class='btn btn-primary'>Commenter</button>
        </form> 
        <div class="icon-container">
            <a class="custom-link" href="/cours"><i class="fa-solid fa-arrow-rotate-left"></i>RETOUR</a>
        </div> 
    </div>   
  
   
{% endblock %}


