{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block css %}
<style>
        h1{
            text-align: center;
        }
        .andy form{
            margin-top: 10px;
        }
        .fa-trash-can{
            background: red;
            border-radius: 5px;
        }
        .sit{
            text-decoration: none;
            color: black;
        }
        .left{
            margin-left: 50px ;
            size: 20px;
        }
        .fa-arrow-left{
            font-size: 2em;
            width: 35px;
        }
        
            body{
                margin: 0;
                justify-content: center;
                font-family: Arial, sans-serif;
                transition: background-color 0.5s ease, color 0.5s ease;
            }
            body.light{
                background-color: #f8f9fa;
                color: #212529;
            }
            body.dark{
                background-color: #121212;
                color: #e4e6eb;
            }
            select{
                padding: 0.5rem;
                font-size: 1rem;
            } 
            .card{
                
                border-radius: 8px;
                transition:background-color 0.5s ease;
                
            }   
            body.dark .card{
                background-color: rgba(255,255,255,0.05);
            }
            
     </style>
{% endblock css %}
{% block content %}
     <h1>Specialites et classe(niveau)</h1>
     <a class="left" href="{% url 'filiere' %}"><i class="fa-solid fa-arrow-left"></i></a> 

     <div class="container-fluid px-4">
    
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Specialite et classe(niveau)
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Specialite</th>
                        <th>Classe</th>
                        <th>Inscrits</th>
                        <th>Action</th>
                        
                       
                    </tr>
                </thead>
                <tbody>
                    {% for filiere in filieres %}
                    <tr id="filiere-{{filiere.id}}">
                            <td> {{ filiere.id }} </td>
                            <td> {{ filiere.departement }} </td>
                            <td> {{ filiere.nom }} </td>
                            <td> {{ filiere.total_inscrit }} </td>
                            
                            <td> <a href="{% url 'desactiver_filiere' filiere.id %}"><i class="fa-solid fa-trash-can"></i></a>  </td>
                            
                            

                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">Aucune filiere enregistrée ...</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


{% endblock content %}