{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block css %}
<style>
    h1{
        text-align: center;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
        }
        
        p {
        font-size: 25px;
        line-height: 1.5;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        }
        
        tbody{
            background-color: whitesmoke;
            border: 2px solid black;
        }
        
       
       
        thead{
            background-color: #c65228;
            border: 2px solid black;
            
            
        }
        
        table{
            width: 900PX;
            height: 300px;
        }
        
        .andy form{
            margin-top: 10px;
        }
        .fa-trash-can{
            background: red;
            border-radius: 5px;
        }
        .sit{
            text-decoration: none;
            color: black;
        }
     </style>
{% endblock css %}
{% block content %}
     <h1>LISTE DES FILIERES</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="table-responsive">
    
            <table  class="table table-bordered text-center">
                <thead  class="thead-light">
                <tr>
            
                <th>id</th>
                <th>Types</th>
                <th>Noms</th>
                <th>Inscrits</th>
                <th>Option</th>
           
                </tr>
                </thead>
            {% for filiere in filieres %}
                <tr id="filiere-{{filiere.id}}">
                <tbody>
                    <td class="form-control-flex">{{ filiere.id }}</td>
                    <td class="form-control-flex">{{ filiere.departement }}</td>
                    <td class="form-control-flex">{{ filiere.nom }}</td>
                    <td class="form-control-flex">{{ filiere.total_inscrit }}</td>
                    <td><i class="fa-solid fa-trash-can"><a class="sit" href="{% url 'desactiver_filiere' filiere.id %}">Desactiver</a></i></td>
                </tbody>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}